@media screen and (max-width: 350px) and (min-width: 150px){

    .account-settings{
        display: none;
    }

    .logo img{
        width: 70px;
        margin-top: 5px;
    }

    .paragraf p{
        display: none;
    }

    .aside{
        display: none;
    }

    .main-content{
       padding: 20px;
       margin: 60px 0 20px 0;
    
    }

}


@media screen and (max-width: 500px) and (min-width: 350px){
    .search input{
        display: none;
    }
    button{
        display: none;
    }

    .logo img{
        width: 90px;
        margin-top: 5px;
        transition: width 2s;
    }

    .paragraf p{
        display: none;
    }

    .aside{
        display: none;
    }

    .main-content{
        padding: 20px;
        margin: 60px 0 20px 0;
     
     }

}

@media screen and (max-width: 985px) and (min-width: 500px){

    .paragraf p{
        font-size: 18px;
    }

}

@media screen and (max-width: 800px) and (min-width: 500px){

    .aside{
        width: 35%;
    }

    .main-content{
        margin-left: 35%;
    
    }

}


@media screen and (max-width: 1000px) and (min-width: 800px){

    .aside{
        width: 30%;
    }
    .main-content{
        margin-left: 30%;
    
    }
    
}

@media screen and (max-width: 1300px) and (min-width: 1000px){

    .aside{
        width: 25%;
    }

    .main-content{
        margin-left: 25%;
    
    }

}





@media screen and (min-width: 985px){

    .search input{
        width: 300px;
        transition: width 2s;
    }

    
}


