@media screen and (max-width: 350px) and (min-width: 150px){

    .account-settings{
        display: none;
    }

    .logo img{
        width: 70px;
        margin-top: 5px;
    }

}


@media screen and (max-width: 500px) and (min-width: 350px){
    .search input{
        display: none;
    }

    .logo img{
        width: 90px;
        margin-top: 5px;
        transition: width 2s;
    }

}


@media screen and (min-width: 985px){

    .search input{
        width: 300px;
        transition: width 2s;
    }

}


