*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*             HEADER           */


.navigace{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   background: linear-gradient(rgb(37, 37, 37), #534e7b);
    height: 60px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    border: none;
}

.logo img{
    width: 110px;
    margin-left: 20px;
}

.paragraf p{
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    color: rgb(255, 244, 226);
    padding-top: 15px;
    text-align: center;
}

.account-settings{
    width: 40%;
    padding: 15px 15px 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: width 2s;
}

.account-settings img{
    width: 30px;

}

.account-settings img:hover{
    width: 32px;
}

.search{
    display: flex;
}

.search input{
    outline: none;
    width: 95%;
    line-height: 30px;
    padding: 0 10px;
    background-color: #ffffff;
    border: 1px solid #555576;
    border-radius: 5px 0 0 5px;
}

.search input:hover{
    border: 2px solid #383852;
}

button{
    border: 1px solid #3f3f5f;
    background-color: #534e7b;
    border-radius: 0 5px 5px 0;
}




/*             MAIN           */


/*       SECTION ASIDE         */

.aside{
    position: fixed;
    top: 60px;
    width: 15%;
    height: 100vh;
    background-color: #534e7b;
    color: rgb(255, 244, 226);
    padding: 50px 20px 0 20px;
}

.type-item ul{
    border-radius: 15px;
    padding: 10px 5px;
    margin: 10px auto;
}


.type-item li{
    font-size: 18px;
    font-style: italic;
    list-style-type: none;
    margin-bottom: 5px;
    background: linear-gradient(rgb(72, 72, 72), #383550);
    text-align: center;
    border-radius: 5px;
}


.aside-img img{
    width: 85%;
}






/*       MAIN CONTENT       */

.main-content{
    margin-left: 15%;
    margin-top: 60px;
    padding: 30px;
    background: url(img/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: display 2s linear;
}


.film-item{
    width: 200px;
    height: 285px;
    background-color: #534e7b;
    padding: 15px 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.film-item h4{
    color: rgb(255, 244, 226);
    text-align: center;
}

.film-item p{
    color: rgb(255, 244, 226);
    font-style: italic;
    opacity: 60%;
    text-align: center;
}


.film-item img{
    width: 100%;
    border-radius: 10px;
}


/*      FOOTER       */


footer{
    width: 100%;
    background: linear-gradient(rgb(37, 37, 37), #534e7b);
    height: 30px;
}


footer p{
    color: rgb(255, 244, 226);
    text-align: center;
    padding: 5px 0;
    padding-left: 270px;
}



















